<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
    <% include ../partials/head %>
    <style>
        .hide{
            display: none;
        }
    </style>
</head>

<body class="header-light sidebar-dark sidebar-expand">
<div id="wrapper" class="wrapper">
    <!-- .navbar -->
    <% include ../partials/navbar %>
    <!-- /.navbar -->
    <div class="content-wrapper">
        <!-- SIDEBAR -->
        <% include ../partials/aside %>
        <!-- SIDEBAR -->
        <main class="main-wrapper clearfix">
            <!-- Page Title Area -->
            <div class="row page-title clearfix">
                <div class="page-title-left">
                    <h5 class="mr-0 ml-r-5"><%= title %></h5>
                    <p class="mr-0 text-muted d-none d-md-inline-block">statistics, charts, events and reports</p>
                </div>
                <!-- /.page-title-left -->
                <div class="page-title-right d-inline-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.ejs">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">E-Commerce Horizontal Products</li>
                    </ol>
                </div>
                <!-- /.page-title-right -->
            </div>
            <!-- /.page-title -->
            <!-- =================================== -->
            <!-- Different data widgets ============ -->
            <!-- =================================== -->
            <div class="widget-list">
                <div class="row">
                    <div class="col-md-12 widget-holder">
                        <div class="widget-bg-transparent">
                            <div class="widget-body clearfix">
                                <!-- Products List -->
                                <ul class="ecommerce-products ecommerce-horizontal-products list-unstyled">
                                    <%  a=0; if(Tests.length > 0){%>
                                        <% Tests.forEach(function(test) {a++; %>
                                            <li class="media <% if(a != 1 ){ %>hide<% } %>" id="exam<%= a%>">
                                                <div class="d-flex mr-0 product-image" id="pic<%= test._id %>">
                                                    <a href="">
                                                        <img class="my-0" src="/assets/demo/e-commerce/1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <section>
                                                        <p>تصویر <%= a%>
                                                            <button class="btn btn-outline-warning mr-r-10 mr-b-10 float-left" id="ShowPic<%= test._id%>">Show Picture</button>
                                                        </p>
                                                        <hr style="margin-top: 35px;">
                                                        <div class="button-box mr-t-20">
                                                            <% test.options.forEach(function(option) { %>
                                                                <% if(option.option != ""){%>
                                                                    <button class="btn btn-outline-info mr-r-10 mr-b-10" id="<%= option._id %>"><%= option.option %></button>
                                                                <%}%>
                                                            <% }); %>
                                                        </div>
                                                    </section>
                                                </div>
                                            </li>
                                        <% }); %>
                                    <% } %>
                                    <% if(Tests.length == a || Tests.length == 0){ a++;%>
                                        <li class="media <% if(a != 1 ){ %> hide <% } %>" id="exam<%= a%>">
                                            <div class="media-body">
                                                <section>
                                                    <p style="text-align:center"> سوالات به پایان رسیدند</p>
                                                    <hr style="margin-top: 35px;">
                                                    <div class="button-box mr-t-20">
                                                            <form action="/dashboard/first-exam" method="POST">
                                                                <input  class="btn btn-outline-info mr-r-10 mr-b-10" style="margin: 0 auto !important; display: block;" type="submit" name="done" value="مرحله بعد">
                                                            </form>
                                                    </div>
                                                </section>
                                            </div>
                                        </li>
                                    <% } %>

                                </ul>
                                <!-- /.ecommerce-products -->
                                <!-- Product Navigation -->
                            </div>
                            <!-- /.widget-body -->
                        </div>
                        <!-- /.widget-bg -->
                    </div>
                    <!-- /.widget-holder -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.widget-list -->
        </main>
        <!-- /.main-wrappper -->
        <!-- RIGHT SIDEBAR -->
        <aside class="right-sidebar scrollbar-enabled">
            <div class="sidebar-chat" data-plugin="chat-sidebar">
                <div class="sidebar-chat-info">
                    <h3>Chat</h3>
                    <p class="text-muted">You can chat with your family and friends in this space.</p>
                </div>
                <div class="chat-list">
                    <h6 class="sidebar-chat-subtitle">Online</h6>
                    <div class="list-group row">
                        <a href="javascript:void(0)" class="list-group-item user--online thumb-xs"
                           data-chat-user="Julein Renvoye">
                            <img src="/assets/demo/users/user1.jpg" class="rounded-circle" alt=""> <span class="name">Julien Renvoye</span>
                            <span class="username">@jrenvoye</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--online thumb-xs"
                           data-chat-user="Eddie Lebanovkiy">
                            <img src="/assets/demo/users/user2.jpg" class="rounded-circle" alt=""> <span class="name">Eddie Lebanovskiy</span>
                            <span class="username">@elebano</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--away thumb-xs"
                           data-chat-user="Cameron Moll">
                            <img src="/assets/demo/users/user3.jpg" class="rounded-circle" alt=""> <span class="name">Cameron Moll</span>
                            <span class="username">@cammoll</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--busy thumb-xs"
                           data-chat-user="Bill S Kenny">
                            <img src="/assets/demo/users/user7.jpg" class="rounded-circle" alt=""> <span class="name">Bill S Kenny</span>
                            <span class="username">@billsk</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--busy thumb-xs"
                           data-chat-user="Trent Walton">
                            <img src="/assets/demo/users/user6.jpg" class="rounded-circle" alt=""> <span class="name">Trent Walton</span>
                            <span class="username">@trentwalton</span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                </div>
                <!-- /.chat-list -->
                <div class="chat-list">
                    <h6 class="sidebar-chat-subtitle">Offline</h6>
                    <div class="list-group row">
                        <a href="javascript:void(0)" class="list-group-item user--offline thumb-xs"
                           data-chat-user="Julien Renvoye">
                            <img src="/assets/demo/users/user1.jpg" class="rounded-circle" alt=""> <span class="name">Julien Renvoye</span>
                            <span class="username">@jrenvoye</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--offline thumb-xs"
                           data-chat-user="Eddie Lebaovskiy">
                            <img src="/assets/demo/users/user2.jpg" class="rounded-circle" alt=""> <span class="name">Eddie Lebanovskiy</span>
                            <span class="username">@elebano</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--offline thumb-xs"
                           data-chat-user="Cameron Moll">
                            <img src="/assets/demo/users/user3.jpg" class="rounded-circle" alt=""> <span class="name">Cameron Moll</span>
                            <span class="username">@cammoll</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--offline thumb-xs"
                           data-chat-user="Bill S Kenny">
                            <img src="/assets/demo/users/user7.jpg" class="rounded-circle" alt=""> <span class="name">Bill S Kenny</span>
                            <span class="username">@billsk</span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item user--offline thumb-xs"
                           data-chat-user="Trent Walton">
                            <img src="/assets/demo/users/user6.jpg" class="rounded-circle" alt=""> <span class="name">Trent Walton</span>
                            <span class="username">@trentwalton</span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                </div>
                <!-- /.chat-list -->
            </div>
            <!-- /.sidebar-chat -->
        </aside>
        <!-- CHAT PANEL -->
        <div class="chat-panel" hidden>
            <div class="card">
                <div class="card-header">
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <button type="button" class="minimize" aria-label="Minimize"><span aria-hidden="true"><i
                            class="material-icons">expand_more</i></span>
                    </button>
                    <span class="user-name">John Doe</span>
                </div>
                <!-- /.card-header -->
                <div class="card-block custom-scroll">
                    <div class="messages custom-scroll-content scrollbar-enabled">
                        <div class="current-user-message">
                            <img class="user-image" width="30" height="30" src="/assets/demo/users/user1.jpg" alt="">
                            <div class="message">
                                <p>Lorem ipsum dolor sit amet?</p>
                                <small>10:00 am</small>
                            </div>
                            <!-- /.message -->
                        </div>
                        <!-- /.current-user-message -->
                        <div class="other-user-message">
                            <img class="user-image" width="30" height="30" src="/assets/demo/users/user2.jpg" alt="">
                            <div class="message">
                                <p>Etiam rhoncus. Maecenas tempus, tellus eget condi mentum rhoncus</p>
                                <small>10:00 am</small>
                            </div>
                            <!-- /.message -->
                        </div>
                        <!-- /.other-user-message -->
                        <div class="current-user-message">
                            <img class="user-image" width="30" height="30" src="/assets/demo/users/user1.jpg" alt="">
                            <div class="message">
                                <img src="/assets/demo/chat-message.jpg" alt="">
                                <small>10:00 am</small>
                            </div>
                            <!-- .,message -->
                        </div>
                        <!-- /.current-user-message -->
                        <div class="current-user-message">
                            <img class="user-image" width="30" height="30" src="/assets/demo/users/user1.jpg" alt="">
                            <div class="message">
                                <p>Maecenas nec odio et ante tincidunt tempus.</p>
                                <small>10:00 am</small>
                            </div>
                            <!-- .,message -->
                        </div>
                        <!-- /.current-user-message -->
                        <div class="other-user-message">
                            <img class="user-image" width="30" height="30" src="/assets/demo/users/user2.jpg" alt="">
                            <div class="message">
                                <p>Donec sodales :)</p>
                                <small>10:00 am</small>
                            </div>
                            <!-- /.message -->
                        </div>
                        <!-- /.other-user-message -->
                    </div>
                    <!-- /.messages -->
                    <form action="javascript:void(0)" method="post">
                        <textarea name="message" style="resize: none"
                                  placeholder="Type message and hit enter"></textarea>
                        <ul class="list-unstyled list-inline chat-extra-buttons">
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="material-icons">insert_emoticon</i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="material-icons">attach_file</i></a>
                            </li>
                        </ul>
                        <button class="btn btn-color-scheme btn-circle submit-btn" type="submit"><i
                                class="material-icons">send</i>
                        </button>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.chat-panel -->
    </div>
    <!-- /.content-wrapper -->
    <!-- FOOTER -->
    <% include ../partials/footer %>
</div>
<!--/ #wrapper -->
<!-- Scripts -->
<% include ../partials/scripts %>
<script>
    $(document).ready(function(){
        <% if(Tests.length > 0){b=0; %>
            <% Tests.forEach(function(test) {b++; %>
                $("#ShowPic<%= test._id %>").click(function(){
                    $("#ShowPic<%= test._id %>").remove();
                    setTimeout(function() {
                        $("#pic<%= test._id %>").html('<a href="#"><img class="my-0" src="<%= test.pic %>" alt=""></a>');
                        setTimeout(function() {
                            $("#pic<%= test._id %>").html('<a href="#"><img class="my-0" src="/assets/demo/e-commerce/1.jpg" alt=""></a>');
                        }, 300);
                    }, 1000);
                });
                <% test.options.forEach(function(option) { %>
                    $("#<%= option._id %>").click(function(){
                        $.post("/dashboard/first-exam" ,{ option : "<%= option._id %>" } , function (data) {
                            if (data['status'] == 200) {
                                $('#exam<%= b%>').remove();       
                                $("#exam<%= b + 1%>").removeClass('hide');
                            }
                            else {
                                $('#exam<%= a%>').remove();
                                $("#exam<%= b + 1%>").removeClass('hide');
                            }
                        });
                    });
                <% }); %>
            <% }); %>
        <% } %>
    });
</script>
</body>

</html>
